.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "openSansLight";
  src: url("../src/fonts/OpenSans-Light.ttf");
}
@font-face {
  font-family: "openSansBold";
  src: url("../src/fonts/OpenSans-Bold.ttf");
}
@font-face {
  font-family: "openSansExtraBold";
  src: url("../src/fonts/OpenSans-ExtraBold.ttf");
}
@font-face {
  font-family: "openSansMedium";
  src: url("../src/fonts/OpenSans-Medium.ttf");
}
@font-face {
  font-family: "openSansRegular";
  src: url("../src/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "openSansSemibold";
  src: url("../src/fonts/OpenSans-SemiBold.ttf");
}

.openSansLight{
  font-family: "openSansLight"
}
.openSansBold{
  font-family: "openSansBold";
}
.openSansExtraBold{
  font-family: "openSansExtraBold";
}
.openSansMedium{
  font-family: "openSansMedium";
}
.openSansRegular{
  font-family: "openSansRegular";
}
.openSansSemiBold{
  font-family: "openSansSemibold";
}
.textBox{
  border-radius: 40px;
border: 1px solid #D0D0D0;
color: #878787;
color: #155FA3;
}